{% extends "dentalfaqs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<html lang="en">
	<head>
		  <title>Django CRUD Operations</title>
		  <meta charset="utf-8">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
		  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
	</head>

	<h1>Thank You!</h1>
	<h3>For the survey and details provided by you</h3>
		<h2>Please follow the below Tips</h2>
		<h4>1: Daily bursh your teeth twice a day</h4>
		<h4>2: Clean your mouth before and after having a meal</h4>
		<h4>3: Floss once a day</h4>
		<h4>4: Consider a mouth wash</h4>
		<h4>5: Limit sugary foods and starches</h4>
		<h4>6: See a dentist regularly</h4>
</html>

		
{% endblock content %}
