{% extends "dentalfaqs/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
	<div class="book-form">
		<form action="getback" method="post">
			{% csrf_token %}
				<div class="col-md-6">
					<div class="form-group mb-30">
						<input type="text" name="your-name"
						class="form-control" placeholder=" Your Name" required>
					</div>
				</div>	
				<div class="col-md-6">
					<div class="form-group mb-30">
						<input type="text" name="your-email"
						class="form-control" placeholder=" Your Email" required>
					</div>
				</div>	
				<div class="col-md-6">
					<div class="form-group mb-30">
						<input type="text" name="your-phone"
						class="form-control" placeholder=" Your Phone" required>
					</div>
				</div>	
				<div class="col-md-6">
					<div class="form-group mb-30">
						<input type="text" name="your-address"
						class="form-control" placeholder=" Your Address" required>
					</div>
				</div>	
				<div class="col-md-12">
					<div class="form-group mb-30">
						<input type="text" name="your-message"
						class="form-control" placeholder=" Your Message" required>
					</div>
				</div>	
				<div class="col-12 text-center">
					<button type="submit" class="btn dento-btn">SUBMIT</button>
				</div>
		</form>
	</div>
{% endblock content %}
