{% extends "dentalfaqs/base.html" %}
{% block content %}
	<h1>Prices</h1>
	<h3>Root canal (microscope-assisted)</h3>         <h4>Price:- 1000$</h4>
	<h3>Dental Implants (fixed prosthesis)</h3>       <h4>Price:- 1600$</h4>
	<h3>Cosmetic Restoration</h3>                     <h4>Price:- 150$ (per tooth)</h4>
	<h3>Dental Crowns</h3>                            <h4>Price:- 1500$ (per tooth)</h4>
	<h3>Orthodontics Treatments</h3>                  <h4>Price:- 6000$</h4>
	<h3>Procelaine Veneers</h3>                       <h4>Price:- 860$ (per tooth)</h4>
	<h3>Periodontal Treatments</h3>                   <h4>Price:- 3600$ (full treatment)</h4>
	<h3>Teeth Whitening</h3>                          <h4>Price:- 650$</h4>
	<h3>Dental Bridges</h3>                           <h4>Price:- 2000$</h4>
	<h3>Removable Partial Dentures</h3>               <h4>Price:- 1500$ (per denture)</h4>
	<h3>Dental Emergency</h3>                         <h4>Price:- 38$ (Examination)</h4>
	<h3>Dental Essentials</h3>                        <h4>Price:- 126$ (Full examination)</h4>
		
{% endblock content %}
